[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A free, comprehensive, and portable video/audio streaming library for Rust
[access "refs/*"]
	owner = group user/Xujing0823
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Xujing0823
	label-Verified = -1..+1 group user/Xujing0823
	push = group user/Xujing0823
	read = group user/Xujing0823
	rebase = group user/Xujing0823
	removeReviewer = group user/Xujing0823
	submit = group user/Xujing0823
[access "refs/heads/*"]
	create = group user/Xujing0823
	push = +force group user/Xujing0823
	pushMerge = group user/Xujing0823
	read = group user/Xujing0823
[access "refs/tags/*"]
	push = group user/Xujing0823
	push = +force group user/Xujing0823
